<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/login1.scss" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

    <!-- login.js 파일 읽기 -->
    <script src="/js/home/login.js" defer></script>
  </head>

  <body>
    <!-- 로그인 -->
    <div class="login">
      <div class="login-triangle"></div>

      <h2 class="login-header">Log in</h2>

      <form class="login-container">
        <p><input id="id" placeholder="아이디를 입력하세요" /></p>
        <p>
          <input id="password" placeholder="비밀번호를 입력하세요" />
        </p>
        <button id="log-button" class="common-button">Log in</button>
        <button id="register-button" class="common-button">Register</button>
      </form>
    </div>
  </body>
</html>

<!-- Copyright (c) 2023 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->
